/wiringPi
/edrum-server/edrum-venv
/edrum-server/.vscode/
/edrum-server/edrum_server/__pycache__/
/edrum-server/edrum_server/settings.py
/edrum-server/edrum_server/edrum_server_app/migrations/
/edrum-server/edrum_server/edrum_server_app/__pycache__
*.txt
*.json
*.glade~
*.o
*.out
*.so
*.pyc
*.sdd
*.cpython-35.pyc
sharedrum
.gitignore